name: Sync Upstream
on:
  workflow_dispatch:
  schedule:
    # Run at midnight UTC daily
    - cron: "0 0 * * *"

jobs:
  pr-upstream:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          echo "https://user:${{ secrets.GITHUB_TOKEN }}@github.com" > /home/runner/.git-credentials
          git config --global credential.helper store

      - name: "Copybara"
        run: |
          # Allow us to capture the Docker exit code
          set +e
          /usr/bin/docker run \
          -v "$(pwd)":/usr/src/app \
          -v /home/runner/.ssh/known_hosts:/root/.ssh/known_hosts \
          -v /home/runner/.gitconfig:/root/.gitconfig \
          -v /home/runner/.git-credentials:/root/.git-credentials \
          ghcr.io/anipos/copybara-docker-image \
          --ignore-noop migrate /usr/src/app/.github/copy.bara.sky
          EXIT_CODE=$?
          set -e
          if [ $EXIT_CODE -eq 4 ]; then
            exit 0
          fi
          exit $EXIT_CODE
