name: Sync Upstream
on:
  workflow_dispatch:
  schedule:
    # Run at midnight UTC daily
    - cron: "0 0 * * *"

jobs:
  pr-upstream:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Show directory contents
        run: ls -la

      - name: pwd
        run: pwd

      - uses: agg23/copybara-action@main
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: default
          custom_config: .github/copy.bara.sky
          copybara_options: "/usr/src/app/.github/copy.bara.sky"
